/* --- - --- Community Science Museum Stylesheet --- - --- */


/* Fonts */

@font-face {
    font-family: 'Avenir Roman';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir Roman'), url('../fonts/Metropolis-Regular.otf') format('otf');
}

@font-face {
    font-family: 'Avenir Light';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir Light'), url('../fonts/Metropolis-Light.otf') format('otf');
}

@font-face {
    font-family: 'Avenir Heavy';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir Heavy'), url('../fonts/Metropolis-SemiBold.otf') format('otf');
}

@font-face {
    font-family: 'Avenir Black';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir Black'), url('../fonts/Metropolis-Bold.otf') format('otf');
}


/* --- Global Styles --- */

html, body {
    margin: 0;
    padding: 0;
}


/* Fonts */

h1, {
    font-family: 'Avenir Black', Tahoma, Verdana, sans-serif;
}

h2, {
    font-family: 'Avenir Roman', Tahoma, Verdana, sans-serif;
}

p, {
    font-family: 'Avenir Light', Tahoma, Verdana, sans-serif;
}


/* Header */

.logo {
    max-width: 250px;
    float: left;
    margin-right: 15px;
}

header {
    background: white;
    max-height: 100px;
}


/* Footer*/

footer {
    background: #F6EDD3;
}


/* Index Picture */

.index-image {
    background-image: url('../images/header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
}


/* Navigation */

nav, #hamburger-menu {
    display: none;
}

nav ul {
    padding: 0px;
}

nav li {
    display: block;
}

nav a {
    font-family: 'Avenir Heavy', Tahoma, Verdana, sans-serif;
    font-size: 24px;
    text-decoration: none;
    color: #3C3C3C;
    padding: 2px;
    display: block;
}

nav a:hover {
    text-decoration: underline;
}

.current {
    font-weight: bold;
    text-decoration: underline;
    color: black;
}


/* --- mobile styles --- */

@media only screen and (max-width:790px) {


    /* Grid Containers */

    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content max-content min-content min-content min-content;
        gap: 0px 0px;
        grid-template-areas:
          "header"
          "main"
          "main"
          "main"
          "main"
          "main"
          "footer"
          "footer"
          "footer"
          "footer";
      }

      header { grid-area: header; }
      main { grid-area: main; }
      footer { grid-area: footer; }
 

    .grid-container-main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content min-content;
        gap: 0px 0px;
        grid-template-areas:
          "index-image"
          "column-1"
          "column-2"
          "column-3"
          "newsletter";
      }

      .column-1 { grid-area: column-1; }
      .column-2 { grid-area: column-2; }
      .column-3 { grid-area: column-3; }
      .index-image { grid-area: index-image; }
      .newsletter { grid-area: newsletter; }


    .grid-container-footer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content;
        gap: 0px 0px;
        grid-template-areas:
          "footer1"
          "footer2"
          "footer3"
          "footer4";
      }

      .footer4 { grid-area: footer4; }
      .footer1 { grid-area: footer1; }
      .footer2 { grid-area: footer2; }
      .footer3 { grid-area: footer3; }


    /* Navigation */

    .hamburger-label{
        float: right;
        color: #3C3C3C;
        padding: 10px;
        font-size: 2.5em;
        display: block;
    }
    
    #hamburger-menu:checked ~ nav {
        display: block;
    }
   
}


/* --- tablet styles --- */

@media only screen and (min-width:791px) and (max-width:1350px) {


    /* Grid Containers */

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: min-content min-content max-content min-content min-content min-content;
        gap: 0px 0px;
        grid-template-areas:
          "header header"
          "main main"
          "main main"
          "main main"
          "main main"
          "main main"
          "footer footer"
          "footer footer"
          "footer footer";
      }

      header { grid-area: header; }
      main { grid-area: main; }
      footer { grid-area: footer; }
 

    .grid-container-main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: min-content min-content min-content;
        gap: 0px 0px;
        grid-template-areas:
          "index-image index-image"
          "column-1 column-2"
          "column-3 ."
          "newsletter newsletter";
      }

      .column-1 { grid-area: column-1; }
      .column-2 { grid-area: column-2; }
      .column-3 { grid-area: column-3; }
      .index-image { grid-area: index-image; }
      .newsletter { grid-area: newsletter; }


    .grid-container-footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: min-content min-content;
        gap: 0px 0px;
        grid-template-areas:
          "footer1 footer2"
          "footer3 ."
          "footer4 footer4";
      }

      .footer4 { grid-area: footer4; }
      .footer1 { grid-area: footer1; }
      .footer2 { grid-area: footer2; }
      .footer3 { grid-area: footer3; }


    /* Navigation */

    .logo {
        float: left;
    }
    
    nav {
        display: inline-block;
    }
    
    .hamburger-label {
        display: none;
    }
    
    ul {
        display: flex;
    }
    
    li {
        display: inline-block;
    }
    
    nav a {
        padding: 19% 40px;
    }
}


/* --- desktop styles --- */

@media only screen and (min-width:1351px) {

    
    /* Grid Containers */

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: min-content min-content max-content min-content min-content min-content;
        gap: 0px 0px;
        grid-template-areas:
          "header header header"
          "main main main"
          "main main main"
          "main main main"
          "footer footer footer"
          "footer footer footer";
      }

      header { grid-area: header; }
      main { grid-area: main; }
      footer { grid-area: footer; }
 

    .grid-container-main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: min-content min-content min-content;
        gap: 0px 0px;
        grid-template-areas:
          "index-image index-image index-image"
          "column-1 column-2 column-3"
          "newsletter newsletter newsletter";
      }

      .column-1 { grid-area: column-1; }
      .column-2 { grid-area: column-2; }
      .column-3 { grid-area: column-3; }
      .index-image { grid-area: index-image; }
      .newsletter { grid-area: newsletter; }


    .grid-container-footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: min-content min-content;
        gap: 0px 0px;
        grid-template-areas:
          "footer1 footer2 footer3"
          "footer4 footer4 footer4";
      }

      .footer4 { grid-area: footer4; }
      .footer1 { grid-area: footer1; }
      .footer2 { grid-area: footer2; }
      .footer3 { grid-area: footer3; }


    /* Navigation */

    .logo {
        float: left;
    }
    
    nav {
        display: inline-block;
    }
    
    .hamburger-label {
        display: none;
    }
    
    ul {
        display: flex;
    }
    
    li {
        display: inline-block;
    }
    
    nav a {
        padding: 19% 40px;
    }
}